<link href="css/home-page.css" rel="stylesheet">

<div style="background-image: url('css/img/bg1.jpg')" class="main">
<div class="overlay"></div>
  <!-- Navigation -->
    <nav class="navbar transparent-nav"" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand sub-text" href="">Jist</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/home">Dashboard</a>
                    </li>
                    <li>
                        <a href="#/jobs">Jobs</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                	<li>
                		<a href="">Info</a>
                	</li>
                	<li ng-click="logOut()">
                		<a href="">Logout</a>
                	</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Job Dashboard
                    <small>{{loadUser().firstname}} {{loadUser().lastname}}, {{loadUser().location}} </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-9">
                 <div ng-controller="DoughnutCtrl">

          <canvas id="doughnut" class="chart chart-doughnut"
  			chart-data="data" chart-labels="labels" chart-options="options">
		</canvas> 
		
        </div>
            </div>

            <div class="col-md-3">
                <h3>Using Your Dashboard:</h3>
                <p><font size="4px">In your Dashboard, you have an array of features at your fingertips.
                You have a graphical display (Doughnut Chart) tells you the total number
                of jobs you have applied to and the current state of each. </font></p>
                
                <p>From here, you can add new jobs you have applied to and view a list of
                all your current jobs in a detailed view.</p>
                
                <h3>Project Details</h3>

		<button id="addJob" class="btn central-buttons" ng-click="addJobRedirect()">Add Job</button>
		<a href="#/jobs"><button id="viewJobs" class="btn central-buttons">View Jobs</button></a>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header"><font color="white">Alerts</font></h3>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    </div>
    <!-- /.container -->


<!-- 

<div style="background-image: url('css/img/home-bg.jpg')" class="main">
<div class="overlay"></div>
<div class="container">
	
	<h2 class="sub-text">Your Personal Job Search Tracker Dashboard<h2>
	
	<h5>{{alertUser().appDate}}</h5>
	
    
    
        <h2>{{loadUser().firstname}} {{loadUser().lastname}}<small> {{loadUser().location}}</small></h2>
        <p>Alerts:</p>

		 List Alerts
		<ul>
			<li ng-repeat="job in jobs | inactiveFilter">Contact {{job.companyName}}!</li>
		</ul>

		<div class="central-buttons">
		<button width="50%" class="btn btn-default" ng-click="addJobRedirect()">Add Job</button>
		<a href="#/jobs"><button  width="50%" class="btn btn-primary">View Jobs</button></a>
		</div>
        
        

        <div ng-controller="DoughnutCtrl">

          <canvas id="doughnut" class="chart chart-doughnut"
  			chart-data="data" chart-labels="labels" chart-options="options">
		</canvas> 
		
        </div>
    </div>
    </div>
    
    
    <tr
				ng-repeat="todo in todos | orderBy: 'task' | completedFilter: showComplete"
				todo-directive data="todo" remove="remove" update="edit"
				completed="{{todo.completed}}">
    
</div>
</div>
 -->