<header ng-include="'partials/nav.html'"></header>
<div class="container">
	
	<h1>User Dashboard</h1>
	
<!-- 	<h5>{{alertUser().appDate}}</h5> -->
	
	<div class="container-fluid">
    <div class="row">
    
    
    	<!--  Left Side -->
        <div class="col-md-6">
            <ul>
		<li>{{loadUser().username}}</li>	
		<li>{{loadUser().firstname}}</li>	
		<li>{{loadUser().lastname}}</li>	
		<li>{{loadUser().location}}</li>
			
	</ul>
	<button class="btn btn-default" ng-click="addJobRedirect()">Add Job</button>
	<a href="#/jobs"><button class="btn btn-primary">View Jobs</button></a>
        </div>
        
        <!--  Right Side -->
        <div class="col-md-6" ng-controller="DoughnutCtrl">

          <canvas id="doughnut" class="chart chart-doughnut"
  			chart-data="data" chart-labels="labels" chart-options="options">
		</canvas> 
            
        </div>
    </div>
    </div>
    
    <ul>
    <li ng-repeat="job in jobs | inactiveFilter">{{job.companyName}}</li>
    </ul>
    
    <!-- <tr
				ng-repeat="todo in todos | orderBy: 'task' | completedFilter: showComplete"
				todo-directive data="todo" remove="remove" update="edit"
				completed="{{todo.completed}}"> -->
    
</div>
