<link href="css/home-page.css" rel="stylesheet">
<div style="background-image: url('css/img/bg1.jpg')" class="main">
<div class="layover"></div>
<!-- Navigation -->
<header ng-include="'partials/nav.html'"></header>

<div class="container">
    <div class="top-bar">


  <h1> {{"Your Open Applications"}} <small> <span ng-class="jobCounter()"> {{totalCount()}}</span></small>  <a href="#/addlisting" style="float:right" class="btn btn-success btn-md">Add Job</a></h1>

  </div>

  <hr>

    <!--  <div class = "container">
     <div class="row">
       <form ng-action="submit(task)">
  <input id="added" class="form-control col-sm-9" type="text" placeholder="New Task" ng-model="task" />
  <button type="submit" class="btn btn-primary btn-circle col-sm-1" ng-click="submit(task)"><i class="fa fa-plus" aria-hidden="true"></i></button>
</form>
  <h5 class="col-sm-3">
       Show completed Tasks <input type="checkbox" ng-model="showComplete" />
     </h5>
</div>
</div> -->

	<div class="panel-group" id="accordion">
	<div class="sizedup" ng-repeat="job in jobs" job-directive data="job" delete="delete" edit="edit" >
	</div>
	</div>

  </div>
  </div>
