<div style="background-image: url('css/img/bg1.jpg')" class="main">
<div class="overlay"></div>
<div class="container">
<a href="#/"><h1 class="main-text">Jist</h1></a>

      <form name="registration" ng-action="genUser(user)" class="form-signin col-md-4 col-md-offset-4 vert-center" novalidate>
        <h3 class="form-signin-heading colorMe">Organize your Job Search!</h3>

        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="user.username" name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
        ng-minlength="4" ng-maxlength="18">
        
         <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="user.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required
        ng-minlength="6" ng-maxlength="12">

		<h4 class="colorMe">Information: </h4>
        <label for="userfName" class="sr-only">First Name</label>
        <input ng-model="user.fname" name="userfName" type="text" id="inputUsername" class="form-control" placeholder="First Name" required autofocus
        ng-minlength="1" ng-maxlength="18">

        <label for="userlName" class="sr-only">Last Name</label>
        <input ng-model="user.lname" name="userlname" type="text" id="inputUsername" class="form-control" placeholder="Last Name" required autofocus
        ng-minlength="1" ng-maxlength="18">

        <label for="userlocation" class="sr-only">Location</label>
        <input ng-model="user.location" name="userlocation" type="text" id="inputUsername" class="form-control" placeholder="Location" required autofocus
        ng-minlength="3" ng-maxlength="25">

		<br>
        <button ng-click="genUser(user)" class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled={{"registration.$invalid"}}>Sign in</button>
  
  <ul class="validation-notes">
    <li ng-show={{"registration.username.$invalid"}}>
      Username must be valid (between 4 and 18 characters)
    </li>
    <li ng-show={{"registration.userfName.$invalid"}}>
      First name must be valid (between 1 and 18 characters)
    </li>
    <li ng-show={{"registration.userlName.$invalid"}}>
      Last name must be valid (between 1 and 18 characters)
    </li>
    <li ng-show={{"registration.userlocation.$invalid"}}>
      Location must be valid (between 4 and 25 characters)
    </li>
    <li ng-show={{"registration.password.$invalid"}}>
      Password must be valid (between 6 and 12 characters)
    </li>
  </ul>
      </form>
      


</div> <!-- /container -->
</div>
