
 <div class="container">
	<div class="row">

	<div class="col-sm-1">
			<div ng-app>
				<div class="accordion__container"
					ng-controller="accordionController">
					<div class="accordion__tab">
						<button class="btn btn-success btn-xs"
							ng-click="openTab('tab one')">
							Details <i class="fa fa-credit-card" aria-hidden="true"></i>
						</button>
					</div>
					<div class="accordion__tab-content" ng-show="isOpenTab('tab one')">
						<br>
						<div class="container" id = "details">
							<div class="row">
								<div class="col-sm-3"><span class="jobInfo">Company Name</span>: {{data.companyName}}</div>
								<div class="col-sm-3"><span class="jobInfo">Job Title</span>: {{data.jobTitle}}</div>
								<div class="col-sm-3"><span class="jobInfo">Location</span>: {{data.city}},
									{{data.state}}</div>
								<div class="col-sm-3"><span class="jobInfo">Application Date</span>: {{data.appDate}}</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-3"><span class="jobInfo">Contact Name</span>: {{data.contactFname}}
									{{data.contactLname}}</div>
								<div class="col-sm-3"><span class="jobInfo">Contact Phone</span>: {{data.contactPhone}}</div>
								<div class="col-sm-6"><span class="jobInfo">Contact Email</span>: {{data.contactEmail}}</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-3"><span class="jobInfo">Potential Start Date</span>: {{data.startDate}}</div>
								<div class="col-sm-3"><span class="jobInfo">Desired Salary</span>: ${{data.desiredSalary}} / {{data.salType}}</div>
								<div class="col-sm-6"><span class="jobInfo">Offered Salary</span>: ${{data.offeredSalary}}</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-12"><span class="jobInfo">Notes</span>:</div>
							</div>
							<div class="row">
								<div class="col-sm-12"><textarea rows="4" class="form-control noteBox">{{data.notes}}</textarea></div>
							</div>
							<br>
							<br>
						</div>
					</div>

				</div>

			</div>
	</div>
		<div class="col-sm-2">{{data.companyName}}</div>
		<div class="col-sm-2">{{data.jobTitle}}</div>
		<div class="col-sm-2">{{data.city}}, {{data.state}}</div>
		<div class="col-sm-2">{{data.appDate}}</div>

		<div class="col-sm-1">
			<button class="btn btn-primary btn-xs" ng-click="update(data)">
				Edit <i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
		</div>
		<div class="col-sm-1">
			<button ng-click="delete(data)" class="btn btn-danger btn-xs">
				Delete <i class="fa fa-trash" aria-hidden="true"></i>
			</button>
		</div>
    <br>
		<hr class="style-two">
