<div class="container">
  <div class="row">
    <div class="col-md-2">
      {{data.companyName}}
    </div>
    <div class="col-md-2">
      {{data.jobTitle}}
    </div>
    <div class="col-md-2">
      {{data.city}}, {{data.state}}
    </div>
    <div class="col-md-2">
      {{data.appDate}}
    </div>
    <div class="col-md-1">
      <button class="btn btn-success btn-xs" ng-click="update(data)">Details <i class="fa fa-credit-card" aria-hidden="true"></i></button>
    </div>
    <!-- <div class="col-md-1">
      <button class="btn btn-primary btn-xs" ng-click="update(data)">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div> -->
    <div class="col-md-1">
      <button ng-click="delete(data)" class="btn btn-danger btn-xs">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
  </div>
  <br>
</div>
