<div class="container">
  <div class="row">
    <div class="col-md-2">
      {{data.companyName}}
    </div>
    <div class="col-md-2">
      {{data.jobTitle}}
    </div>
    <div class="col-md-2">
      {{data.city}}, {{data.state}}
    </div>
    <div class="col-md-2">
      {{data.appDate}}
    </div>
    <div class="col-md-1">
      <button class="btn btn-success btn-xs" ng-click="update(data)">Details <i class="fa fa-credit-card" aria-hidden="true"></i></button>
    </div>
    <!-- <div class="col-md-1">
      <button class="btn btn-primary btn-xs" ng-click="update(data)">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div> -->
    <div class="col-md-1">
      <button ng-click="delete(data)" class="btn btn-danger btn-xs">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
  </div>
  <br>
</div>



<div class="container">
  <form>
    <div class ="row">
      <div class="col-md-2">
        <input type = "text" placeholder="Company Name" value={{data.companyName}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Job Title" value={{data.jobTitle}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Job City" value={{data.city}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Job State" value={{data.state}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Application Date" value={{data.appDate}}>
      </div>
    </div>

    <div class="row">
    <div class="col-md-2">
      <input type = "text" placeholder="Contact Email" value={{data.contactEmail}}>
    </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Contact First Name" value={{data.contactFname}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Contact Last Name" value={{data.contactLname}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Contact Phone" value={{data.contactPhone}}>
      </div>
      <div class="col-md-2">
        <input type = "text" placeholder="Posting URL" value={{data.postingUrl}}>
      </div>
    </div>

    <div class="row">
    <div class="col-md-2">
      <input type = "text" placeholder="Salary Type" value={{data.salType}}>
    </div>
    <div class="col-md-2">
      <input type = "text" placeholder="Start Date" value={{data.startDate}}>
    </div>
      <div class="col-md-2">
        <label for="jobStatus" class="sr-only">Job Status</label>
          <select ng-model="job.offer" name="jobStatus" id="jobStatus" placeholder="JobStatus">
            <option value = "In Progress"> In Progress </option>
            <option value = "Awaiting Reply"> Awaiting Reply </option>
            <option value = "Not Offered"> Not Offered </option>
          </select>
      </div>
    <div class="col-md-2">
      <button class = "btn btn-primary btn-xs" ng-click="save(jobCopy)"> Save</button>
    </div>
    <div class="col-md-2">
      <button class = "btn btn-primary btn-xs" ng-click="cancel()" >Cancel</button>
    </div>
      <br><br><br>
    </div>
  </form>
</div>
